@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SF-Pro.ttf") format("truetype");
}

body {
  background-color: white;
  color: black;
  font-family: "SF Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}

h1 {
  font-weight: 590;
  margin: 0;
  font-size: 64px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.result-input,
.user-input {
  background-color: #f4f4f4;
  border-radius: 30px;
  width: 680px;
  height: 162px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin: 20px;
}

#result-text,
#user-text {
  background-color: transparent;
  font-family: "SF Pro", sans-serif;
  border: none;
  outline: none;
  font-size: 16px;
  width: 100%;
  height: 162px;
  resize: none;
  overflow-y: auto;
}

#predict-button {
  font-family: "SF Pro", sans-serif;
  border: 1.5px solid #007aff;
  color: #007aff;
  background-color: transparent;
  border-radius: 30px;
  width: 130px;
  height: 47px;
  font-size: 23px;
  font-weight: 390;
  cursor: pointer;
  margin-left: 80%;
  margin-top: 8px;
}

#predict-button:hover,
.circle:hover,
.down-arrow:hover {
  background-color: #007aff;
  color: white;
  border: none;
}

#volume-button {
  position: fixed;
  top: 45px;
  right: 45px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

#volume-button i {
  color: #000000;
}

#volume-button:hover i {
  color: #007aff;
}

.fa.fa-volume-up {
  font-size: 44px;
}

#back-button {
  position: fixed;
  top: 52px;
  left: 190px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

#back-button:hover {
  color: #007aff;
}

.fa.fa-angle-left {
  font-size: 75px;
}

#prediction-h1 {
  position: fixed;
  top: 52px;
}

.text-container {
  position: fixed;
  bottom: 30px;
  max-width: 740px;
  height: 580px;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none; /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
